h2{
    margin-bottom: 40px;
}
input[type="text"]{
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 6px 6px;
    width: 100%;
}
input[type="number"]{
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 6px 6px;
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input:disabled{
    opacity: .4;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.range-block-inp{
    border-radius: 6px 6px;
    border: 1px solid #d3d4d4;
    overflow: hidden;
    padding-bottom: 10px;
}
.range-block{
    margin-bottom: 32px;
    position: relative;
}
label{
    margin-bottom: 4px;
    font-size: 14px;
    color: #b4b4b4;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #ececec;
    margin-bottom: 24px;
}
.loader img{
    height: 100px;
}


/* .suggestions  */
.sugg-item{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ececec;
    padding: 20px;
    margin-bottom: 24px;
}
.sugg-item img{
    width: 20%;
    margin-bottom: 12px;
}
.sugg-item label{
    margin-top: 22px;
}




input[type=range] {
    position: absolute;
    left: 1px;
    bottom: 1px;
    outline: none;
    padding: 0;
    width: calc(100% - 2px);
    height: 8px;
    background-color: #f5f5f5;
    border: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #22aa6c), color-stop(100%, #22aa6c));
    background-image: #22aa6c;
    background-image: #22aa6c;
    background-image: #22aa6c;
    background-image: #22aa6c;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border: 1px #d3d4d4 solid;
    background: #fff;
    border-radius: 100%;
    /* box-shadow: 0 4px 9px rgba(255, 151, 66, 0.8); */
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
}